{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                {% include 'books/book.html' %}
            {% endfor %}
        </div>
        {% if paginator %}
            {% include 'books/paginator.html' %}
        {% endif %}
    </div>
{% endblock %}